.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance__panel {
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.attendance__button {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.attendance__button-submit {
    padding: 5px;
    height: 150px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #000;
    cursor: pointer;
}